<style>
.game {
  font-family: sans-serif;
  margin: 15px;
  border: 1px solid #f0f0f0;
  padding: 0px 20px 20px 20px;
}
.game a.game-title {
  text-decoration: none;
  color: black;
  display: inline-block;
}
.game a.game-title h2 {
  padding: 0;
  margin: 0;
  display: inline-block;
}
.game .type-by-author{
  padding: 0 10px;
}
.game .screenshots{
  width: 100%;
  display: block;
  position: relative;
}
.game .screenshots:after{
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.game a.screenshot{
  display: inline-block;
  float: left;
  margin: 5px 10px;
}
.game a.screenshot img{
  width: 180px;
  height: 140px;
}
.game .description{
  padding: 10px;
}
.game .comments{
  padding: 0 10px;
}
</style>

<p>Check out all of the games our community made in the latest game jam!</p>

{{#each this}}
  <div class="game">

    {{#if title}}
      <a class="game-title" href='{{url}}' target='_blank'><h2>"{{title}}"</h2></a>
    {{/if}}

    {{#if type}}{{type}} entry by: {{/if}}

    {{#each authors}}
      <a href="{{this.link}}" class="type-by-author">{{this.name}}</a>
    {{/each}}

    {{#if screenshots}}
      <div class="screenshots">
        {{#each screenshots}}
        <a class="screenshot" href='{{this.full}}' target='_blank'>
          <img src='{{this.thumb}}'/>
        </a>
        {{/each}}
      </div>
    {{/if}}

    {{#if description}}
      <p class="description">{{{description}}}</p>
    {{/if}}

    {{#if title}}
      <a href="{{url}}" target='_blank'>Play {{title}}</a>
    {{/if}}

    <!-- {{#if comments}}
      <p class="comments">Comments:  <a  href='{{url}}' target='_blank'>{{comments}}</a></p>
    {{/if}} -->

  </div>
{{/each}}
